<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark_dimmed">
  <head>
    <title>Tyranoport Test Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@^16.0.0/dist/primer.css" />
  </head>
    <body>
        <header class="Header">
            <div class="Header-item">
                <a href="https://github.com/iwillspeak/tyranoport" class="Header-link f4">Tyranport</a>
            </div>
            <div class="Header-item">
                <a href="#" class="Header-link">Index</a>
            </div>
        </header>
        <section class="container-xl mt-3">
            <div class="clearfix">
                <div class="col-12 col-md-6 float-left p-2">
                    <div class="Box">
                        <div class="Box-header">
                            <h2 class="Box-title">
                            Summary
                            </h2>
                        </div>
                        <div class="Box-body">
                            <p class="color-text-success m2">1 passed</p>
                            <p class="color-text-warning">2 skipped</p>
                            <p class="color-text-danger">1 failed</p>
                            <div>
                                <span class="Progress">
                                    <span class="Progress-item color-bg-success-inverse" style="width: 50%;"></span>
                                    <span class="Progress-item color-bg-warning-inverse" style="width: 25%;"></span>
                                    <span class="Progress-item color-bg-danger-inverse" style="width: 15%;"></span>
                                    <span class="Progress-item color-bg-info-inverse" style="width: 10%;"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 float-left p-2">
                    <div class="Box">
                        <div class="Box-header">
                            <h2 class="Box-title">
                            Timings
                            </h2>
                        </div>
                        <ul class="Box-body">
                            <li><strong>Creation</strong>: 2021-07-15T18:47:19.5612408+01:00</li>
                            <li><strong>Queuing</strong>: 2021-07-15T18:47:19.5612409+01:00</li>
                            <li><strong>Start</strong>: 2021-07-15T18:47:18.5970852+01:00</li>
                            <li><strong>Finish</strong>: 2021-07-15T18:47:19.5688108+01:00</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-2 mt-3">
                <h2>Test Classes</h2>
            </div>
        </section>
    </body>
</html>