<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark_dimmed">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta charset="utf-8">
    <meta name="color-scheme" content="dark light">
    <title>{{ navs.title }} - Tyrannoport Test Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TODO: This should come from baked-in css rather than referencing a CDN -->
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@^17.0.0/dist/primer.css" />
  </head>
    <body>
        <script>0</script>
        <header class="Header">
            <div class="Header-item">
                <a href="https://github.com/iwillspeak/Tyrannoport" class="Header-link f2">Tyrannoport</a>
            </div>
            <div class="Header-item">
                <a href="{{ navs.overview_slug }}" class="Header-link">Index</a>
            </div>
            <div class="Header-item Header-item--full">
                <a href="{{ navs.output_slug }}" class="Header-link">Global output</a>
            </div>
            <div class="Header-item" id="dark-mode-placeholder"></div>
        </header>
        <section class="container-xl mt-3">
            {% block content %}{% endblock -%}
        </section>
        <script>{% include "dark_mode_js" %}</script>
    </body>
</html>